<!DOCTYPE html>
<html lang="en" data-theme="auto" data-palette="amber">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{assigns[:page_title] || "pinha"}</title>
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="stylesheet" href="/assets/chromafish/styles.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <script defer src="/assets/js/app.js">
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
